@import 'CSS:~antd/dist/antd.min.css';
@import "AddFriendInput";
@import "FriendList";
@import "FriendListApp";
@import "FriendListItem";
@import "page1";
@import "page2";
@import "page3";
@import "styles";

body {
  margin: 0;
}

.header {
  padding: 15px 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);

  a {
    padding: 0 20px;
  }
}